# Dependencies
node_modules/
.pnpm-store/

# Prisma
prisma/dev.db
prisma/migrations/

# Environment
.env
.env.local

# Build
.next/
out/
dist/

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
!.vscode/settings.json
